{% extends 'base2.html.twig' %}

{% block title %}Modifier Reponse{% endblock %}

{% block body %}
 <div class="container">
    <h1>Modifier Reponse</h1>
     <a class="btn btn-outline-info float-right" href="{{ path('app_reponse_index') }}"> 
         Retour à la liste
    </a>

    {{ include('reponse/_form.html.twig', {'button_label': 'Modifier'}) }}

  
    </div>
{% endblock %}
