
{% extends 'base2.html.twig' %}

{% block title %}Reponse{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Reponse</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_reponse_index') }}"> 
                    Retour à la liste
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Id:</b>
                <p>{{ reponse.id }}</p>
                <b class="text-muted">Description:</b>
                <p>{{ reponse.description }}</p>

            </div>
        </div>
    </div>
{% endblock %}

