{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="container">
        <section class="section register ">
            {% for message  in app.flashes('message') %}
            <div class="alert alert-info">
                {{ message }}
            </div>
            {% endfor %}
        </section>
        <section class="section register ">
            {% for danger  in app.flashes('danger') %}
                <div class="alert alert-danger">
                    {{ danger }}
                </div>
            {% endfor %}
        </section>

 

{% endblock %}