{% extends 'base2.html.twig' %}

{% block title %}Edit Vehicule{% endblock %}

{% block body %}
    <div class="container">
      <h2 style="color: #ff8521;" class="text-center mt-5 mb-3">Modifier Vehicule</h2>
      <div class="card">
      <div class="card-header">
                <a style="background-color: #ff8521; color: white;" class="btn btn-outline-info float-right" href="{{ path('app_constat_index') }}"> Retour </a><br><br>
    <table class="table table-bordered">
    <tr>
    <td>{{ include('vehicule/_form.html.twig') }}</td>
    </tr>
    </table>
    </div>
     </div>
     </div>
{% endblock %}
