{% extends 'base.html.twig' %}

{% block title %}Edit Vehicule{% endblock %}

{% block body %}
    <h1>Modifier Vehicule</h1>

    {{ include('vehicule/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="btn btn-outline-info float-right" href="{{ path('app_vehicule_index') }}">Retour</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
