{% extends 'base.html.twig' %}

{% block title %}Nouvelle Vehicule{% endblock %}

{% block body %}
    <h1>Ajouter Vehicule</h1>

    {{ include('vehicule/_form.html.twig') }}

    <a  class="btn btn-outline-info float-right" href="{{ path('app_vehicule_index') }}">Retour</a>
{% endblock %}
