{% extends 'base2.html.twig' %}

{% block title %}Modifier Reclamation{% endblock %}

{% block body %}
 <div class="container">
    <h2 class="text-center mt-5 mb-3" style="color: #FFA500">Modifier une réclamation</h2>
   
    <a class="btn btn-outline-secondary" href="{{ path('app_reclamation_index') }}"> 
                    Retour à la liste
    </a>
    <br>
    <br>
    {{ include('reclamation/_form.html.twig', {'button_label': 'Modifier'}) }}
    
    <br>
    </div>
{% endblock %}
