{% extends 'base2.html.twig' %}
{% block body  %}
	<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">

		{{ form(form, {'attr': {'novalidate': 'novalidate'} }) }}
		</div>
	{% endblock %}
