{% extends 'base2.html.twig' %}

{% block title %}New Devis{% endblock %}

{% block body %}
<div class="container">
    
<div class="card">
<div class="card-header">

<a class="btn btn-outline-info float-right" href="{{ path('app_devis_index') }}"> 
                    View All Projects
                </a>
                </div>
                <div class="card-body">
    {{ include('devis/_form.html.twig') }}
     </div>

   
    </div>
    </div>
{% endblock %}
