{% extends 'base.html.twig' %}

{% block title %}Modifier Constat{% endblock %}

{% block body %}
    <h1>Modifier Constat</h1>

    <table>
    <tr>
    <td> {{ include('constat/_form.html.twig', {'button_label': 'Modifier'}) }}</td>

    <td > <a class="btn btn-outline-info float-right" href="{{ path('app_constat_index') }}">Retour</a></td>

    <td>{{ include('constat/_delete_form.html.twig') }}</td>
    </tr>
    </table>
{% endblock %}
