<form method="post" action="{{ path('app_contrat_delete', {'id': contrat.id}) }}"  onsubmit="return confirm('Etes vous sûr de supprimer ce contrat?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contrat.id) }}">
     <button class="btn btn-primary mr-2">Supprimer</button>
</form>
