{% extends 'base2.html.twig' %}

{% block title %}Modifier Utlisateur {% endblock %}

{% block contenu %}
<div class="container" sytle="width:40%;">

    <h1 class="text-center mt-5 mb-3"> Modifier Utlisateur </h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier '}) }}

    <a href="{{ path('app_user_index') }}"> <button  class="btn btn-outline-info"> Retour</button> </a>

   
{% endblock %}
