{% extends 'base2.html.twig' %}

{% block titre %}Modifier  Utilisateur {% endblock %}

{% block contenu %}
<div class="container" style="width:auto;">
    <h1 class="d-none d-lg-block" style="color: #012970;font-family: "Nunito", sans-serif;} text-align:center;"> Modifier  Utilisateur </h1>

    {{ include('user/_form.html.twig') }}<button  class="btn btn-outline-success my-3">Modifier</button>

    <a href="{{ path('app_user_index') }}"><button  class="btn btn-outline-info float-right">retour</button></a>

    {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
